@model DataModelViewModel
@{
    ViewData["Title"] = "Agendar Atendimento";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css"/>



<div id="alerta" class=" alert-primary" role="alert">
  <h1>@TempData["resultado"]</h1>
</div>

<br /><br />

<div class="container">
    <h1 class="h1_danger">@(ViewData["Title"])</h1>
    <br />
    <form autocomplete="off" asp-controller="Home" asp-action="Agendar" method="post">
  <div class="mb-3">
    <label for="data">Selecione a melhor data:</label>
    <div class="input-group date" >
    <input autocomplete="off" asp-for="Data" type="text" class="form-control" id="data">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
    </div>

    <div id="texto" class="form-text">Coloque uma data para consultar...</div>
  </div>
  

  <div class="form-group">
    <label for="HorasDisponiveis">Horas Disponiveis</label>
    <select asp-for="Hora" class="form-control" id="HorasDisponiveis">
        <option>Nada Selecionado</option>
    </select>
  </div>
  <br />
  <div class="form-group">
    <label for="TipoSolicitacao">Tipo de Solicitação:</label>
  <select asp-for="TipoSolicitacao" class="form-control" id="TipoSolicitacao">
        <option>Nada Selecionado</option>
        @{
        foreach(var opcao in ViewBag.TipoSolicitacao)
        {
                                                       <option>@opcao</option>

         }
        }
  </select>
  </div>
  <div class="form-group">
    <input autocomplete="off" asp-for="SolicitacaoPersonalizada" type="text" class="form-control" id="InputPersonalizada" placeholder="Digite aqui a sua solicitação...">
  </div>
  <br />
  <hr /><br />
  <h2>Seus Dados:</h2>
   <div class="form-group">
    <label for="exampleFormControlInput1">Nome:</label>
    <input autocomplete="off" asp-for="Pessoa.Nome" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome...">
  </div>

  <br />

   <div class="form-group">
    <label for="exampleFormControlInput1">Telefone</label>
    <input autocomplete="off" asp-for="Pessoa.telefone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu telefone...">
  </div>

    <br />
  <div class="form-group">
    <label for="Matricula">Matrícula:</label>
    <input autocomplete="off" asp-for="Pessoa.Matricula" type="text" class="form-control" id="Matricula" placeholder="Digite sua matrícula...">
  </div>

    <br />
  <div class="form-group">
    <label for="cpf">CPF:</label>
    <input autocomplete="off" asp-for="Pessoa.CPF" type="text" class="form-control" id="cpf" placeholder="Digite seu CPF...">
  </div>

    <br />
   <div class="form-group">
    <label for="email">E-mail:</label>
    <input autocomplete="off" asp-for="Pessoa.Email" type="text" class="form-control" id="email" placeholder="Digite seu E-mail...">
  </div>
      <br />    <br />
  <button type="submit" class="btn btn-danger btn-lg btn-block">Consultar data</button>
</form>

</div>



@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"type="text/javascript"></script>
    <script>
        $('#data').datepicker({
    format: 'dd/mm/yyyy',
    language: 'pt-br',
    startDate: '+0d',
    });

var result;
$(document).ready(function() {
    $("#TipoSolicitacao").on("change", function() {
        var obj = $("#TipoSolicitacao").val();
        if (obj == "Outros - Indicar") {
            $("#InputPersonalizada").css("display", "block");
        } else {
            $("#InputPersonalizada").css("display", "none");
        }
    })

    $("#data").on("change", function() {
        $("#HorasDisponiveis").empty();
        $("#HorasDisponiveis").append("<option>Nada Selecionado</option>");
        var datatemp = $("#data").val();
        var SendInfo = { "DataHoje": datatemp };
        function Colocar(hora) {
           var mandar = "<option>" + hora + "</option>";
           $("#HorasDisponiveis").append(mandar);
        }

        $.ajax({
            type: 'post',
            url: 'Api/Consultar',
            data: JSON.stringify(SendInfo),
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function(data) {
                
                result = data;
                result.forEach(Colocar);
            }
        });
    });

    $("#alerta").hide(4000);
});
    </script>
}